header {
  grid-area: header;
  background-image: url(dog.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: white;
  @include container(60%);

  h3 {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-weight: 200;
    letter-spacing: 0.2rem;
    padding: 50px 0px;
    @include icon("paw", 50, $text, $hover, -45);
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 15px 0 40px 0;
  }
  ul {
    list-style-position: inside;

    li {
      margin: 40px auto;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
  }
}
