main {
  width: 60%;
  height: 88vh;
  background-color: $bg;
  color: $text;
  float: left;
  @include container(70%);
  padding-top: 50px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .card {
    display: flex;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid $hover;
    line-height: 1.6;
    overflow: hidden;

    &:hover {
      background-color: $hover;
      .left {
        .icon-bg {
          background-color: white;
        }
      }
    }

    .left {
      display: flex;
      padding: 10px 20px;
      padding-right: 100px;
      align-items: center;
      @include icon("tree", 50, $hover, $bg, 0);
    }

    .right {
      padding: 10px 40px;
      display: flex;
      flex-direction: column;
      border-left: 1px solid $bg;
      justify-content: center;
      .price {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }

  .seeMore {
    margin: 15px 0;
    .read {
      color: black;
    }
  }

  @include max(1400px) {
    .container .card .left {
      padding-right: 10px;
    }
  }
  @include max(992px) {
    .container {
      .card {
        flex-direction: column;
        padding: 0;
        .left {
          padding: 20px 15px;
        }
        .right {
          padding: 20px 15px;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          border-top: 1px solid $bg;
          .price {
            margin-right: auto;
          }
          p:nth-of-type(1) {
            margin-right: 5px;
          }
        }
        &:hover {
          .right {
            border: none;
            border-top: 1px solid $bg;
          }
        }
      }
    }
  }
  @include max(768px) {
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 768px) {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 15px;
      background-color: $bg;
    }
  }
  &::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: $hover;
  }
}
