// Variables
$text: #545871;
$bg: #f7eceb;
$hover: #ebd0ce;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin container($width) {
  .container {
    width: $width;
    margin: 0 auto;
  }
}

@mixin max($maxWidth) {
  @media (max-width:#{$maxWidth}) {
    @content;
  }
}

@function halfSize($size) {
  $size: $size/2;
  @return #{$size}px;
}

@mixin icon($iconName, $size, $iconColor, $bgColor, $rotate) {
  .icon-bg {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: #{$size}px;
    height: #{$size}px;
    padding: halfSize($size);
    margin-right: 20px;
    background-color: $bgColor;

    .icon {
      color: $iconColor;
    }
    .fa-#{$iconName} {
      transform: rotate(#{$rotate}deg);
    }
  }
}
@import "header";
@import "main";

footer {
  width: 60%;
  float: left;
  height: 12%;
  @include container(70%);
  @include max(992px) {
    width: 100%;
  }
  .container {
    // height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: $text;
      padding: 10px 40px;
      border: 1px solid $text;
      border-radius: 30px;
      &:hover {
        color: white;
        background-color: $text;
      }
    }
  }
}
