// Variables
$text: #545871;
$bg: #f7eceb;
$hover: #ebd0ce;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@mixin max($maxWidth) {
  @media (max-width:#{$maxWidth}) {
    @content;
  }
}

@mixin container($width) {
  .container {
    width: $width;
    margin: 0 auto;
  }
}

@function halfSize($size) {
  $size: $size/2;
  @return #{$size}px;
}

@mixin icon($iconName, $size, $iconColor, $bgColor, $rotate) {
  .icon-bg {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: #{$size}px;
    height: #{$size}px;
    padding: halfSize($size);
    margin-right: 20px;
    background-color: $bgColor;

    .icon {
      color: $iconColor;
    }
    .fa-#{$iconName} {
      transform: rotate(#{$rotate}deg);
    }
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  height: auto;
  min-height: 100vh;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-areas:
    "header main"
    "header footer";
  @include max(762px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

@import "header";
@import "main";
@import "footer";
